/* 
    Document   : calculator
    Created on : Oct 31, 2012, 11:53:44 AM
    Author     : 387597
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
@font-face {

    font-family: "Futura";
    -webkit-font-smoothing: antialiased;
    /*    font-weight: bold;*/
    font-style :normal;
   src: url('../fonts/Futura.eot');
    src: local('Futura'),  url('../fonts/Futura.ttf') format('truetype');
}

.clear_button
{
    width:80px;
    background-color: #d0c7b8;
    font-family: Futura;
    font-size: 20px;
    color: #464646;
    text-align: center;
    border:1px solid #968f84;
   
}
.result_box
{

    FONT-SIZE: 14pt;
    HEIGHT: 30px;
    WIDTH: 210px
}
.zadatak_box
{
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    HEIGHT: 20px;
    WIDTH: 210px;
}
.main_table
{
    border:1px solid #d0c7b8;
    background-color :#e6e3de;
    width: 220px;


}
.small_button
{
    border: none;
    font-family: Arial;
    background-image: url('../../images/Calc_Bg_32X32.png');
    font-size: 12px;
    text-align: center;
    width: 32px;
    height: 32px;

}
.enter_button
{
    border: none;
    height: 32px;
    width: 67px;
    background-color: 
}
.cal_Shadow
{
    border: none;
    background-image:  url('../../images/CalShadow_220X25.png');
    height: 25px;
    width: 220px;
}
.main_tableshadow
{
    border:1px solid #d0c7b8;  

} 
table{
    border-spacing: 2px !important;
    border-collapse: inherit !important;
}
td input[type=button]{
    background-color:#428bca;
    color:#fff;
    border-radius: 5px;
}





