
/* custom for navigation */

.nav-disable {
    pointer-events: none;
    cursor: default;
}
.nav-enable {}
/* Custom for verbal aptitude*/

.brand {
    background-color: white;
    padding: 4%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.brand_image {
    background-color: #d9534f;
    height: 150px;
    width: 100%;
}
.tag {
    top: 125px !important;
    height: 25px;
    position: absolute;
    padding: 4px;
    background: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, 0.87);
}
.tag a{
  color:#fff !important;
  text-decoration:none;
}
.tag:hover {
    background: rgba(87, 75, 75, 0.5);
}
/* Custom Blockquote like*/

.alert-message {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child {
    margin-bottom: 0;
}
.alert-message code {
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success {
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h4 {
    color: #3C763D;
}
.alert-message-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.alert-message-danger h4 {
    color: #d9534f;
}
.alert-message-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h4 {
    color: #f0ad4e;
}
.alert-message-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4 {
    color: #5bc0de;
}
.alert-message-default {
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h4 {
    color: #000;
}
.alert-message-notice {
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h4 {
    color: #444;
}
/* Responsive Badge */

.shape {
    border-style: solid;
    border-width: 0 40px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.shape-text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -22px;
    top: -3px;
    white-space: nowrap;
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -o-transform: rotate(360deg);
    /* Opera 10.5 */
    -webkit-transform: rotate(46deg);
    /* Safari and Chrome */
    transform: rotate(46deg);
}
.offer {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    overflow: hidden;
}
.shape {
    border-color: rgba(255, 255, 255, 0) #d9534f rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
.offer-radius {
    border-radius: 7px;
}
.offer-danger {
    border-color: #d9534f;
}
.offer-danger .shape {
    border-color: transparent #d9534f transparent transparent;
}
.offer-success {
    border-color: #5cb85c;
}
.offer-success .shape {
    border-color: transparent #5cb85c transparent transparent;
}
.offer-default {
    border-color: #999999;
}
.offer-default .shape {
    border-color: transparent #999999 transparent transparent;
}
.offer-primary {
    border-color: #428bca;
}
.offer-primary .shape {
    border-color: transparent #428bca transparent transparent;
}
.offer-info {
    border-color: #5bc0de;
}
.offer-info .shape {
    border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {
    border-color: #f0ad4e;
}
.offer-warning .shape {
    border-color: transparent #f0ad4e transparent transparent;
}
.offer-content {
    padding: 0 20px 10px;
}
/* User*/

.user-details {
    position: relative;
    padding: 0;
}
.user-details .user-image {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
}
.user-image img {
    clear: both;
    margin: auto;
    position: relative;
}
.user-details .user-info-block {
    width: 100%;
    position: absolute;
    top: 55px;
    background: rgb(255, 255, 255);
    z-index: 0;
    padding-top: 35px;
}
.user-info-block .user-heading {
    width: 100%;
    text-align: center;
    margin: 10px 0 0;
}
.user-info-block .navigation {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #428BCA;
    border-top: 1px solid #428BCA;
}
.navigation li {
    float: left;
    margin: 0;
    padding: 0;
}
.navigation li a {
    padding: 20px 30px;
    float: left;
}
.navigation li.active a {
    background: #428BCA;
    color: #fff;
}
.user-info-block .user-body {
    float: left;
    padding: 5%;
    width: 90%;
}
.user-body .tab-content > div {
    float: left;
    width: 100%;
}
.user-body .tab-content h4 {
    width: 100%;
    margin: 10px 0;
    color: #333;
}
/* custom  */

@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 100;
    src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), url(//fonts.gstatic.com/s/robotodraft/v1/hope9NW9iJ5hh8P5PM_EAyeJLMOzE6CCkidNEpZOseY.woff) format('woff');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 300;
    src: local('RobotoDraft Light'), local('RobotoDraft-Light'), url(//fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwR_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 400;
    src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(//fonts.gstatic.com/s/robotodraft/v1/0xES5Sl_v6oyT7dAKuoni4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 500;
    src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(//fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwSqHEX2q--o2so14pIEl08w.woff) format('woff');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 700;
    src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(//fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: normal;
    font-weight: 900;
    src: local('RobotoDraft Black'), local('RobotoDraft-Black'), url(//fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwUExzZ44ka2Lr5i-x5aWr0E.woff) format('woff');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: italic;
    font-weight: 400;
    src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(//fonts.gstatic.com/s/robotodraft/v1/er-TIW55l9KWsTS1x9bTftkZXW4sYc4BjuAIFc1SXII.woff) format('woff');
}
@font-face {
    font-family: 'RobotoDraft';
    font-style: italic;
    font-weight: 700;
    src: local('RobotoDraft Bold Italic'), local('RobotoDraft-BoldItalic'), url(//fonts.gstatic.com/s/robotodraft/v1/5SAvdU0uYYlH8OURAykt5wRV2F9RPTaqyJ4QibDfkzM.woff) format('woff');
}
button,
select,
html,
textarea,
input,
p,
h1,
h2,
h3,
h4,
h5,
body {
    font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial !important;
}
.text-justify {
    text-align: justify;
}
ul {
    list-style-type: none !important;
}
i {
    padding-right: 10px;
    /*color:#428bca;*/
}
a.custom {
    text-decoration: none !important;
    color: #fff !important;
}
/* Header
h1,h2,h3,header{margin:0; margin-top:10px !important;padding:0;border:0;font-size:100%;font:inherit;vertical-alig
n:baseline}






header {
  overflow: hidden;
  position: relative;
  height: 250px;
}
header > * {
  position: absolute;
  left: 50%;
  top: 40%;
}
header > h2 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: bold;
  letter-spacing: 2.25px;
  color: white;
  text-shadow: -2.5px 0 #000000, 2.5px 0 #000000, 0 2.5px #000000, 0 -2.5px #000000, -2.5px 2.5px #000000, 2.5px 2.5px #000000, 2.5px -2.5px #000000, -2.5px -2.5px #000000;
  -webkit-transform: translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg);
      -ms-transform: translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg);
          transform: translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg);
  font-size: 400%;

}
header > h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: bold;
  letter-spacing: 2.25px;
  color: white;
  text-shadow: -2.5px 0 #000000, 2.5px 0 #000000, 0 2.5px #000000, 0 -2.5px #000000, -2.5px 2.5px #000000, 2.5px 2.5px #000000, 2.5px -2.5px #000000, -2.5px -2.5px #000000, -5px 3.75px #000000, -3.75px 5px #000000, -5px 5px #000000, -3.75px 3.75px #000000;
  -webkit-transform: translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg) translate(-130px, -60px);
      -ms-transform: translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg) translate(-130px, -60px);
          transform: translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg) translate(-130px, -60px);
  font-size: 150%;
  text-transform: capitalize;
}
header > h1 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: bold;
  letter-spacing: 2.25px;
  color: white;
  text-shadow: -2.5px 0 #000000, 2.5px 0 #000000, 0 2.5px #000000, 0 -2.5px #000000, -2.5px 2.5px #000000, 2.5px 2.5px #000000, 2.5px -2.5px #000000, -2.5px -2.5px #000000, -5px 3.75px #000000, -3.75px 5px #000000, -5px 5px #000000, -3.75px 3.75px #000000;
  -webkit-transform: translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg) scale(1.2, 0.9) translate(100px, 80px);
      -ms-transform: translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg) scale(1.2, 0.9) translate(100px, 80px);
          transform: translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg) scale(1.2, 0.9) translate(100px, 80px);
  font-size: 100px;
  text-transform: uppercase;
}
header h3 + hr {
  border: 2.5px solid #000000;
  border-left: 0;
  border-right: 0;
  position: absolute;
  width: 105%;
  height: 5px;
  border-bottom-width: 2.5px;
  -webkit-transform: translateY(-45px) translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg);
      -ms-transform: translateY(-45px) translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg);
          transform: translateY(-45px) translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg);
  font-family: 'Yanone Kaffeesatz';
  font-weight: bold;
  letter-spacing: 2.25px;
  color: white;
  text-shadow: -2.5px 0 #000000, 2.5px 0 #000000, 0 2.5px #000000, 0 -2.5px #000000, -2.5px 2.5px #000000, 2.5px 2.5px #000000, 2.5px -2.5px #000000, -2.5px -2.5px #000000;
}
header h2 + hr {
  border: 2.5px solid #000000;
  border-left: 0;
  border-right: 0;
  position: absolute;
  width: 105%;
  height: 10px;
  border-bottom-width: 5px;
  -webkit-transform: translateY(35px) translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg);
      -ms-transform: translateY(35px) translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg);
          transform: translateY(35px) translateY(-30px) translate(-50%, -50%) skewY(-10deg) skewX(-10deg);
  font-family: 'Yanone Kaffeesatz';
  font-weight: bold;
  letter-spacing: 2.25px;
  color: white;
  text-shadow: -2.5px 0 #000000, 2.5px 0 #000000, 0 2.5px #000000, 0 -2.5px #000000, -2.5px 2.5px #000000, 2.5px 2.5px #000000, 2.5px -2.5px #000000, -2.5px -2.5px #000000;
}
header .issue {
  font-size: 10px;
  font-weight: 800;
  border: #000000 solid 2.5px;
  border-radius: 50%;
  padding: 5px;
  -webkit-transform: translate(180px, 0);
      -ms-transform: translate(180px, 0);
          transform: translate(180px, 0);
}
*/

/*Header1 */

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(http://fonts.googleapis.com/css?family=Grand+Hotel);
 div#wrapper {
    height: 160px;
    width: 100%;
    /*border: 1px solid #f1f1f1;

  position: relative;*/
    overflow: hidden;
}
header.banner {
    position: absolute;
    /*background: url(../images/red-brush.png) no-repeat;*/
    width: 80%;
    /*height: 100%;*/
    /*top: 20px;
  left: -5px;*/
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    top: -8%;
}
header.banner h1,
header.banner h2 {
    font-family: 'Bitter', serif;
}
header.banner h1 {
    font-size: 1000%;
    /*margin: -44px 0 0 10px;*/
    padding: 0;
    height: 150px;
}
header.banner h1 span {
    text-transform: uppercase;
    font-size: 90%;
}
header.banner h2 {
    text-align: center;
    /*color: white;*/
    font-weight: normal;
    font-size: 18px;
}
div.beta {
    background: url(../images/red-star.svg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 43%;
    top: 8%;
    padding: 0px;
}
div.beta h3 {
    font-family: 'Grand Hotel', cursive;
    color: white;
    font-weight: normal;
    font-size: 20px;
    margin: 11px 0 0 5px;
    width: 0;
    height: 0;
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}
/* custom panel

.container1{
  width:320px !important;  height:568px !important;
}

.passes{
  width:100% !important;  list-style:none !important;  padding:0 !important;  margin:0 !important;  display:inline-block !important;  position:relative !important;
}

.passes li{
  position:absolute !important;  display:inline-block !important;  width:100% !important;  height:300px !important;  border-radius:10px !important;  -webkit-box-shadow: 0px -15px 20px 0px rgba(0,0,0,0.27) !important;  -moz-box-shadow: 0px -15px 20px 0px rgba(0,0,0,0.27) !important;  box-shadow: 0px -15px 20px 0px rgba(0,0,0,0.27) !important;  margin:0 !important;  padding:0 !important; overflow:hidden !important;    -webkit-transition: all .4s ease-out !important;}

.passes li.current{
  -webkit-transform:translate3d(0,0,0) !important;
}

.passes li:before, .passes li:after{
  content:'';  position:absolute;  width:10px;  height:10px;  background:rgb(255,255,255);  border-radius:50%;  top:30px;  left:-5px;
}

.passes li:after{
  left:auto;  right:-5px;
}

.easyjet{
  background:#f60;  color:#fff;
}

.airberlin{
  background:#cc1f2f;  color:#fff;
}

.ba{
  background:#031b41;  color:#fff;
}

.passes li>div{
  font-family:"Helvetica Neue", sans;  margin-top:10px;  text-align:center;  pointer-events: none;
}

*/

/*

Lateral Navbar css */



      pre {
          tab-size: 8;
      }

      @media screen and (max-width: 768px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:50px;
              bottom:0;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }
      }
