<footer class="footer" ng-controller="footerController">
<div  id="footer">
        <hr/>
        <div class="container">
            <p class="text-center text-success"><a ui-sref="Home">Home</a> | <a ui-sref="Verbal">Verbal Test </a>| <a ui-sref="Aptitude">Aptitude Test </a> | LeaderBoard | <a ui-sref="Testimonial">Testimonial</a> | <a ng-href="http://www.programminggeek.in" target="_blank"> Blog </a>| <a ui-sref="About">About Us</a> | <a href="javascript:void(0);" ng-click="contact();">Contact Us</a> </p>
            <p class="text-primary text-center">Copyright <i class="fa fa-copyright"> 2014 <a href="http://www.programminggeek.in" target="_blank"><strong>Programming Geek<md-tooltip>A Programming Geek Initiative!</md-tooltip></strong></a>, All Rights Reserved </i></p>
        </div>
    </div>
</footer>
