<span ng-controller="headerController">
  <header role="banner" class="navbar navbar-fixed-top navbar-inverse" style="border-radius:0px;z-index:2;">
    <div class="container">
      <div class="navbar-header">
        <button ng-click="toggleLeft();" data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-inverse side-collapse in">
        <nav role="navigation" class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li  ng-class="{'active':page=='home'}"><a ui-sref="Home">Home<md-tooltip>Home</md-tooltip></a>
            </li>
            <li ng-class="{'active':page=='verbal'}"><a class=""  ui-sref="Verbal" ng-disabled="done" ng-class="{'nav-disable':flag=='verbal-test-start'}">Verbal<md-tooltip>Verbal Test</md-tooltip></a>
            </li>
            <li ng-class="{'active':page=='aptitude'}"><a class=""  ui-sref="Aptitude" ng-class="{'nav-disable':flag=='aptitude-test-start'}">Aptitude<md-tooltip>Aptitude Test</md-tooltip></a>
            </li>
            <li><a class=""  ui-sref="leaderboard">LeaderBoard<md-tooltip>Leaderboard</md-tooltip></a>
            </li>
            <li><a class=""  ui-sref="placement">Placement<md-tooltip>Placement Preparation</md-tooltip></a>
            </li>

            <li ng-class="{'active':page=='testimonial'}"><a class="" ui-sref="Testimonial" >Testimonial<md-tooltip>Testimonial</md-tooltip></a>
            </li>
            <li ng-class="{'active':page=='about'}"><a title="About Us!" class="" ui-sref="About" >About<md-tooltip>About us</md-tooltip></a>
            </li>

          </ul>
          <ul class="nav navbar-nav pull-right">

            <li>

              <a href="javascript:void(0);" ng-click="loginSignup();"  ng-hide="logged"><i class="fa fa-user text-primary"></i><!--Signin | Signup--><md-tooltip>Signin/Signup with Facebook</md-tooltip></a>
              <a href="javascript:void(0);" ng-click="toggleRight();" ng-show="logged && !user.profile_url"><i class="fa fa-user text-primary" ng-hide="user.profile_url"></i><span ng-hide="user.profile_url">{{user.first_name}}</span></a>
              <span ng-show="user.profile_url"><img class="img-circle" src="{{user.profile_url}}" width="100%" height="100%"/ ng-click="toggleRight();" ng-show="logged"></span>

            </li>

          </ul>
        </nav>
      </div>

    </div>
  </header>

  <section layout="row" layout-align="end start" flex>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Welcome, {{ user.first_name}}</h1>
      </md-toolbar>
      <md-content  class="md-padding">

        <md-button ng-click="logmeout();" class="md-primary">
          Logout
        </md-button>
        <div ng-include=' user?profile.url:login_signup.url '></div>
      </md-content>
    </md-sidenav>
  </section>
  <section layout="row" layout-align="end start" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">e-test</h1>
      </md-toolbar>
      <md-content  class="md-padding">

        <ul class="nav">

          <li  ng-class="{'active':page=='home'}" ><a ui-sref="Home" ng-click="close();">Home<md-tooltip>Home</md-tooltip></a>
          </li>

          <li ng-class="{'active':page=='verbal'}"><a class=""  ui-sref="Verbal" ng-disabled="done" ng-class="{'nav-disable':flag=='verbal-test-start'}" ng-click="close();">Verbal<md-tooltip>Verbal Test</md-tooltip></a>
          </li>
          <li ng-class="{'active':page=='aptitude'}"><a class=""  ui-sref="Aptitude" ng-class="{'nav-disable':flag=='aptitude-test-start'}" ng-click="close();" >Aptitude<md-tooltip>Aptitude Test</md-tooltip></a>
          </li>
          <li><a class=""  ui-sref="leaderboard" ng-click="close();">LeaderBoard<md-tooltip>Leaderboard</md-tooltip></a>
          </li>
          <li><a class=""  ui-sref="placement" ng-click="close();">Placement<md-tooltip>Placement Preparation</md-tooltip></a>
          </li>

          <li ng-class="{'active':page=='testimonial'}"><a class="" ui-sref="Testimonial" ng-click="close();">Testimonial<md-tooltip>Testimonial</md-tooltip></a>
          </li>
          <li ng-class="{'active':page=='about'}"><a title="About Us!" class="" ui-sref="About" ng-click="close();" >About<md-tooltip>About us</md-tooltip></a>
          </li>



          <li>

            <a href="javascript:void(0);" ng-click="close();loginSignup();"  ng-hide="logged"><i class="fa fa-user text-primary"></i><!--Signin | Signup--><md-tooltip>Signin/Signup with Facebook</md-tooltip></a>
            <a href="javascript:void(0);" ng-click=" close();toggleRight();" ng-show="logged && !user.profile_url"><i class="fa fa-user text-primary" ng-hide="user.profile_url"></i><span ng-hide="user.profile_url">{{user.first_name}}</span></a>
            <a><span ng-show="user.profile_url"><img class="img-circle" src="{{user.profile_url}}"  height="100%" ng-click="close();toggleRight();" ng-show="logged"></span></a>

          </li>

        </ul>

        <div ng-include=' user?profile.url:login_signup.url '></div>
      </md-content>
    </md-sidenav>
  </section>
</span>
