<!-- about.html -->
<div layout="column" layout layout-margin layout-padding>
    <md-toolbar style="z-index:0;">
        <h2 class="md-toolbar-tools">
            <span class="text-center">About</span>
        </h2>
    </md-toolbar>

    <md-whiteframe class="md-whiteframe-z3"   layout-fill >
        <div  layout="column" style="padding-bottom: 15px;font-size:16px;">

            <md-content class="md-padding" >
                <div class="alert alert-info" role="alert">
                <p class="text-justify text-primary">
                    <strong><a ng-href="#Home"> e-test </a> </strong> is an initiative of <strong><a href="http://www.programminggeek.in" target="_blank">Programming Geek</a></strong>.
                    <br/>
                    It provides a platform to engage, analyze and improve skills by taking tests. It helps you by analyzing your test data. You can analyze your performance using our beautiful visualizations.
                </p>
                    <div class="socialabout pull-left" >
                        <p class="text-left" style="font-szie:7px !important;">
                            Join <strong>us<md-tooltip>Programming Geek</md-tooltip> </strong> on <strong>Facebook<md-tooltip>Facebook</md-tooltip></strong> and <strong>Google+<md-tooltip>Google+</md-tooltip></strong> and stay updated!
                        </p>
                        <a href="https://www.facebook.com/thiswillgoaway" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span><md-tooltip>Like us on Facebook</md-tooltip></a>

                        <a href="https://google.com/+ProgrammingGeekIndia" target="_blank" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span><md-tooltip>Follow us on Google+</md-tooltip></a>

                    </div>
                </div>


            </md-content>
        </div>

    <div class="panel panel-info" >
        <div class="panel-heading text-center" style="max-width:100px;overflow:hidden;"  >About me<md-tooltip>About Vikash</md-tooltip></div>
        <div class="panel-body" layout-sm="column" layout-gt-md="row">
            <div class="[ col-sm-12  col-lg-12 ] md-whiteframe-z4 alert-message alert-message-danger" >
                <div class="[ info-card ]">
                    <img style="width: 100%" alt="Vikash Verma" src="assets/images/profile.jpg" />
                    <div class="[ info-card-details ] animate">
                        <div class="[ info-card-header ]">
                            <h1> Vikash Verma </h1>
                            <h5>Developer, <a href="http://www.mu-sigma.com" target="_blank">Mu Sigma</a></h5>
                        </div>
                        <div class="[ info-card-detail ]">

                            <p class="text-justify text-primary"><strong>When it comes to learning a technology, one must build something using it. This generated passion in my heart. Why not build something that people can see, use and experience. Your appreciation inspires me and your suggestions is what keeps me learning.</strong></p>


                        </div>
                    </div>
                </div>
            </div>
            <div class="[ col-sm-12  col-lg-12 ] md-whiteframe-z2 alert-message alert-message-warning">


                    <p class="text-success text-justify">
                        <strong>Graduated from BIT Sindri, a Programming Geek and part time Blogger</strong>. </p>
                    <p class="text-warning text-justify">
                        I am working as a developer at <strong><a href="http://www.mu-sigma.com" target="_blank">Mu Sigma </a>(Innovation and Development)</strong>. I love exploring new technology and building something out of nothing. I love sharing what I know.</p>
                    <p class="text-danger text-justify">
                        Watching <b>movies</b>, <b>serials (science fiction)</b>, exploring the <b>internet</b> are some of my hobbies. </p>

            </div>
            <div class="[ col-sm-12  col-lg-12 ] md-whiteframe-z3 alert-message alert-message-success">

                <!-- Description -->

                <p class="text-danger text-justify">
                    Send your feedback at <strong>vikash@programminggeek.in</strong> </p>

                <div class="socialabout">

                    <div class="offer offer-success">
                        <div class="shape">
                            <div class="shape-text">
                                Social
                            </div>
                        </div>
                        <div class="offer-content">
                            <h3 class="lead">
                                Connect with me
                            </h3>
                            <a href="https://www.facebook.com/vikashvverma" target="_blank" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>



                            <a href="https://github.com/VIKASHvverma" target="_blank" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>

                            <a href="https://google.com/+VikashVerma" target="_blank" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>

                            <a href="https://www.linkedin.com/in/vikashvverma/" target="_blank" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </md-whiteframe>

</div>
