
<div layout="column" layout layout-margin layout-padding>
    <md-toolbar style="z-index:0;">
    <h2 class="md-toolbar-tools">
        <span class="text-center">Aptitude Test</span>
    </h2>
</md-toolbar>
<div  class="brand" layout-sm="column" layout-gt-md="row"  >
    <div class="col-xs-12 col-sm-6 col-lg-4 ">
        <div src="" class="brand_image" style="background-color:#fff;">
            <img src="./assets/images/tcs_logo.png" width="100%" height="150px" />
            <div class="tag">
              <a ng-href="http://www.tcs.com" target="_blank">TCS</a>
            </div>
        </div>
        <div class="brand">
            <a class="btn btn-primary btn-block" ng-click="selectTCSAptitudeTestSet($event)">TCS Analytical Ability Test </a>

            <h3 class="text-info"><i class="fa fa-eye"></i>See More!</h3>
            <a ui-sref="Verbal" class="text-info btn btn-info btn-block"><i class="fa fa-hand-o-right"></i> TCS Verbal Ability Test  </a>
            <a ng-href="http://www.programminggeek.in/search/label/TCS%20PLACEMENT" class="text-warning btn btn-warning btn-block" target="_blank"><i class="fa fa-hand-o-right"></i> TCS Placement Preparation</a>
            <a ng-href="http://www.programminggeek.in/search?q=TCS+Sample+Email" class="text-danger btn btn-danger btn-block" target="_blank"><i class="fa fa-hand-o-right"></i>TCS Verbal Question and Answer </a>
            <a ng-href="http://goo.gl/8DkoGa" target="_blank" class="text-success btn btn-success btn-block"><i class="fa fa-hand-o-right"></i> TCS Analytical Question</a>
            <br/>
            <!--<a ng-href="http://www.facebook.com/share.php?u=http://etest.programminggeek.in&title=Take TCS Aptitude Test Online for Free" target="_blank"><span class="facebook btn btn-primary btn-small"><i class="fa fa-facebook"></i> share</span></a>
            <a ng-href="https://plus.google.com/share?url=http://etest.programminggeek.in/#!/Aptitude" target="_blank"><span class="google btn btn-danger"><i class="fa fa-google"></i> share</span></a>
            <a ng-href="http://twitter.com/home?status=Take TCS Analytical Test Online for Free+http://etest.programminggeek.in/#!/Aptitude" target="_blank"><span class="twitter btn btn-info"><i class="fa fa-twitter"></i> tweet</span></a>-->
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
        <div src="" class="brand_image" style="background-color:white;;">
            <img src="./assets/images/IBM_logo.png" width="100%" height="150px" />
            <div class="tag">
                <a ng-href="http://www.ibm.com" target="_blank">IBM</a>
            </div>
        </div>
        <div class=" brand well well-lg text-primary text-center">
            <h2>Coming Soon!</h2>
        </div>
        <!--
<div class="brand">


<a href="" class="text-primary">IBM Verbal Test </a><br/>
<a href="" class="text-info"> IBM Aptitude Test </a><br/>
<a href="" class="text-warning"> IBM Placement Preparation</a><br/>
<a href="" class="text-danger">IBM Verbal Question and Answer </a><br/>
<a href="" class="text-success"> IBM Analytical Questions</a>
<br/><br/>
<span class="facebook btn btn-primary btn-small"><i class="fa fa-facebook"></i> share</span>
<span class="google btn btn-danger"><i class="fa fa-google"></i> share</span>
<span class="twitter btn btn-info"><i class="fa fa-twitter"></i> tweet</span>
</div>
-->
    </div>
    <div class="col-xs-12 col-sm-6  col-lg-4 ">
        <div src="" class="brand_image">
            <img src="./assets/images/e-test.jpg" width="100%" height="150px" />
            <div class="tag">
                <a ng-href="http://www.mu-sigma.com" target="_blank">Mu Sigma</a>
            </div>
        </div>
        <div class="brand well well-lg text-primary text-center">
            <h2>Coming Soon!</h2>
        </div>
        <!--
<div class="brand">


<a href="" class="text-primary">Mu Sigma Aptitude Test</a><br/>
<a href="" class="text-info"> Mu Sigma Case Study </a><br/>
<a href="" class="text-warning"> Mu Sigma Video Synthesis</a><br/>
<a href="" class="text-danger"> Mu Sigms Group Discussion</a><br/>
<a href="" class="text-success"> Previously asked questions</a>
<br/><br/>
<span class="facebook btn btn-primary btn-small"><i class="fa fa-facebook"></i> share</span>
<span class="google btn btn-danger"><i class="fa fa-google"></i> share</span>
<span class="twitter btn btn-info"><i class="fa fa-twitter"></i> tweet</span>
</div>
-->
    </div>
</div>



</div>
