
<md-dialog  aria-label="Like Programming Geek on Facebook">
    <md-content>
        <md-subheader class="md-sticky-no-effect text-center" style="background-color: #dcedc8; margin-left:0px !important;margin-right:0px !important;">Like Programming Geek on Facebook </md-subheader>

        <div id="fbbox"><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fthiswillgoaway&amp;width=300&amp;height=500&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false&amp;appId=266286180147198" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:258px;" allowtransparency="true"></iframe></div>
<div class="pull-right"><i class="fa fa-close" ng-click="cancel();"></i></div>
    </md-content>
  
</md-dialog>
