
<div  layout="column"   layout-margin layour-padding>

    <md-whiteframe class="md-whiteframe-z3" ng-show="test"  layout-fill >

        <md-toolbar style="z-index:0;">
            <h2 class="md-toolbar-tools">
                <span class="text-center">TCS Verbal Test</span>
            </h2>
        </md-toolbar>

        <md-content class="" layout-margin>

            <div class="alert alert-success text-justify" role="alert" style="font-size:15px;" id='question'>
                <div ng-hide="loading" layout="column"  layout-align="space-around">
                    <span class="text-center text-primary">Loading Question</span>
                    <md-progress-linear  md-mode="indeterminate"></md-progress-linear>
                </div>
                 {{question}}
                <br/><b>Outline:<br/><i>
                <div ng-hide="loading" layout="column" layout-align="center center">
                    <span class="text-center text-primary">Loading Phrases</span>
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                {{phrase}}</i></b>
            </div>
            <div ng-include=' "./app/views/tcs_verbal_instructions.html" '></div>
            <span class="time"><i class="text-primary fa fa-clock-o"></i>{{minutes}}:{{seconds}}</span>
            <br/>
            <div class="alert alert-danger text-center" role="alert" ng-hide="logged">
                <h1><b><button class="btn btn-primary btn-lg" ng-click="logme()">Login</button> to Take the Test!</b></h1>
            </div>
            <div class="form-group has-success">
                <textarea class="form-control" rows="10" placeholder="Write Your Answer Here..." ng-model="$parent.answer" ng-init="$parent.answer=''" ng-keyup="setCount();" ng-disabled="!logged"></textarea>
            </div>
            <div>Word Count : <span class="count">{{count}}</span><span class="time" style="float:right;"><i class="text-danger fa fa-clock-o"></i>{{minutes}}:{{seconds}} </span>
            </div>

            <md-button type="button" id="submit" class="md-raised md-primary btn btn-primary btn-lg" ng-click="endTime();" ng-disabled="!logged">Submit Answer<i class="fa fa-send"></i>
            </md-button>

        </md-content>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-z2" ng-hide="test" layout-fill >
        <md-toolbar>
            <h2 class="md-toolbar-tools">
                <span class="text-center">TCS Verbal Test : Performance Analysis</span>
            </h2>
        </md-toolbar>
        <div   ng-include=' "./app/views/tcs_verbal_report.html" '></div>
        <div   ng-include=' "./app/views/tcs_verbal_visualization.html" '></div>
    </md-whiteframe>
</div>
