<button type="button" id="summary" class="btn btn-primary btn-lg " ng-click="visual=false">Summary View</button>
<button type="button" ng-click="visual=true;visualize();" id="visual" class="btn btn-success btn-lg ">Visualization</button>
<div class="brand text-left" style="font-weight:normal;" id="summaryreport" ng-hide="visual">

    <div class="list-group-item list-group-item-info text-left" style="border-radius:3px;padding:10px;" id="question">
        <b style="font-size:25px;">Question:</b>
        <br/>{{question}}
        <br/>
        <b> Outliine:</b>
        <br/>
        <i><b> {{phrase}} </b></i>
    </div>

    <div class="list-group-item list-group-item-success text-left" style="border-radius:3px;margin-top:5px;" id="answer">

        <b style="font-size:25px;">Answer:</b>
        <br/>{{answer}}

    </div>

    <div class="list-group-item list-group-item-danger text-left" style="border-radius:3px;margin-top:5px;" id="score">

        <b style="font-size:25px;">Score:</b>
        <br/>
        <div class="score">{{score}}
            <br/><b>{{scoreRemark}} </b>
        </div>

    </div>

    <div class="list-group-item list-group-item-warning text-left" style="border-radius:3px;margin-top:5px;" id="count">

        <b style="font-size:25px;">Word Count:</b>
        <br/>{{count}}
        <br/>
        <b>{{countRemark}}</b>
    </div>

    <div class="list-group-item list-group-item-danger text-left" style="border-radius:3px;margin-top:5px;" id="mistakes">

        <b style="font-size:25px;">Mistakes:</b>
        <br/>
        <ul>
            <li ng-repeat="mistake in mistakes"><i class="fa fa-hand-o-right"></i>{{mistake}}</li>
        </ul>
        <br/>
        <div id="spellingerror">
            <ul>
                <li ng-repeat="error in errors"><i class="fa fa-hand-o-right"></i>{{error}}</li>
            </ul>
        </div>
    </div>
    

</div>