<div class="row bg-danger">
    <div style="width:100%;" class="alert alert-info text-center text-primary">Your Score for the Analytical Ability Section is : {{score}}</div>
    <div class="col-xs-12 col-ms-6 col-lg-4 " ng-repeat="q in questions">
        <i class="fa" ng-class="{'fa-check-square-o text-success':q.ans==q.answer,'fa-remove text-danger':q.ans!=q.answer && q.ans!=0 , 'fa-square text-muted':q.ans==0}"></i>Question{{q.id}}
    </div>

</div>

<div id="aptitudeReport" class="brand bg-info" style="height: 400px;width:100%;"></div>

<div class="container brand bg-info" id="individualRanking" style="min-width: 310px;width:100%; height: auto; margin: 0 auto"> 

</div>

<div class="container bg-info brand " style="min-width: 310px;width:100%; height: auto; margin: 0 auto;margin-top: -4%;" id="individualGraphType">
    <div class="col-lg-12 col-sm-12 " s>
        <label class="text-warning" style="font-size:12px;float:right;margin-top:-3%;">Change Graph Style <i class="fa fa-info-circle"></i>
        </label>
    </div>
    <div class="col-lg-12 col-sm-12 ">
        <select class="center-block form-control" style="width:15%;float:right;font-size:12px;height:1%;" ng-model='individualGraphType' ng-change="draw(individualGraphType);">
            <option value='spline'>Spline</option>
            <option value='line'>Line</option>
            <option value='area'>Area</option>
            <option value='bar'>Bar</option>
            <option value='column'>Column</option>
            <option value='3d column'>3D Column</option>
        </select>
    </div>

</div>

<div class="container brand bg-info" id="overallRanking" style="min-width: 310px;width:100%; height: auto; margin: 0 auto">

</div>