<ul class="list-group text-left" style="font-size:14px;">
    <b><li class="list-group-item list-group-item-success text-center">Important Instructions:</li></b>
    <li class="list-group-item list-group-item-info"><i class="fa fa-hand-o-right"></i>It is compulsory to use all the specific words mentioned in the Outline in your email. You can add other sentences of your choice, as appropriate</li>
    <li class="list-group-item list-group-item-warning"><i class="fa fa-hand-o-right"></i>The name of the sender and receiver should be as given.</li>
    <li class="list-group-item list-group-item-danger"><i class="fa fa-hand-o-right"></i>The email must contain a minimum of fifty words, or it will not be evaluated at all.</li>
    <li class="list-group-item list-group-item-primary"><i class="fa fa-hand-o-right"></i>If the outline is not strictly followed (including the speific words used), or correct English (including spelling and grammar) is not used, the grade in this section will be poor.</li>
</ul>