
<md-dialog  aria-label="Submit a Testimonial" >
    <md-content>
        <md-subheader class="md-sticky-no-effect text-center" style="background-color: #29b6f6; margin-left:0px !important;margin-right:0px !important;color:white;">Submit a Testimonial </md-subheader>

        <md-content layout="row"  >
           

            <div class="column" style="padding: 20px;">
                    <md-text-float label="Name" ng-model="name" required></md-text-float>
                    <md-text-float label="College" ng-model="college"></md-text-float>
                    <md-text-float label="email"  ng-model="email" ></md-text-float>

                </div>
            <div class="column" style="padding: 20px;">
                    <md-text-float label="Facebook Profile URL" ng-model="facebook" required></md-text-float>
                    <md-text-float label="Google+ Profile URL" ng-model="google" required></md-text-float>
                    <md-text-float label="Twitter Profile URL" ng-model="twitter" required></md-text-float>
                </div>
                


                
        </md-content>
        <md-content layout="column">
            <textarea class="form-control ng-pristine ng-valid" rows="5" ng-model="message" placeholder="Write your message..." style="margin-bottom:10px;"></textarea>
        </md-content>

    </md-content>
    <div class="md-actions" layout="row">
        
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button class="md-raised md-primary" type="button" ng-click="signup();">
            Proceed
        </md-button>
    </div>
</md-dialog>