
<div layout="column"  layout layout-margin layout-padding>
    <md-toolbar style="z-index:0;">
        <h2 class="md-toolbar-tools">
            <span class="text-center">Testimonial</span>
        </h2>
    </md-toolbar>
    <md-content layout="row" layout-align="end start" style="padding-bottom:10px;" layout-margin layout-padding>
        <md-button class="md-raised md-primary" style="text-transform:capitalize;" layout-margin layout-padding ng-click="submit();" >Submit Testimonial<md-tooltip>Do the good Karma, Submit Your Testimonial</md-tooltip></md-button>
    </md-content>

    <div ng-hide="testimonials.length>0" layout="column"  layout-align="space-around">
        <span class="text-center text-primary">Loading Testimonials</span>
        <md-progress-linear  md-mode="indeterminate"></md-progress-linear>
    </div>
    <div class="[ col-xs-12  col-sm-12 col-lg-12]" ng-repeat="testimonial in testimonials">
        <ul class="event-list">
            <li>
                <time datetime="{{testimonial.time}}">

                    <span class="month">{{testimonial.time.split(" ")[1]}}</span>
                    <span class="day">{{testimonial.time.split(" ")[2]}}</span>
                    <span class="year">{{testimonial.time.split(" ")[3]}}</span>
                </time>
                <img alt="{{testimonial.name}}" title="{{testimonial.name}}" src="./assets/images/favicon.png" />
                <div class="info">
                    <h2 class="title">{{testimonial.name}}</h2>
                    <p class="desc text-justify text-primary">{{testimonial.testimonial}}</p>
                    <ul>
                        <li style="width:50%;"><i class="fa fa-institution"></i>{{testimonial.college}} 
                        </li>
                        <li style="width:50%;">{{testimonial.email?testimonial.email:''}}</li>
                    </ul>
                </div>
                <div class="social">
                    <ul>
                        <li class="facebook" style="width:33%;"><a ng-href="{{testimonial.facebook?testimonial.facebook:''}}" target="_blank"><span class="fa fa-facebook"></span></a>
                        </li>
                        <li class="twitter" style="width:34%;"><a ng-href="{{testimonial.twitter?testimonial.twitter:''}}" target="_blank"><span class="fa fa-twitter"></span></a>
                        </li>
                        <li class="google-plus" style="width:33%;"><a ng-href="{{testimonial.google?testimonial.google:''}}" target="_blank"><span class="fa fa-google-plus"></span></a>
                        </li>
                    </ul>
                </div>
            </li>


        </ul>
    </div>
</div>
<div  ng-include="testimonialForm.url"></div>